.container{
    text-align: center;
    width: 100wh;
    margin: 10px;
    .form-panel{
        width: 400px;
        margin: 0 auto;
    
        .form-group{
            padding: 5px;
            display: flex;
            justify-content: space-between;

            .button-group{
                margin-top: 10px;
            }
        }
    }
}

.aaa{
    width: 1%;
    background: url("../../img/1.png")no-repeat;
    background-size: cover;
    padding-bottom: 56.24%;
}