.Layout-page {
     display: flex;
     justify-content: center;
     height: 100vh;
    // align-items: center;

    // form {
    //     width: 400px;
    //     padding: 50px 40px 40px;
    //     border-radius: 10px;
    //     border: 1px solid #cccccc;

    //     h1 {
    //         text-align: center;
    //     }
    // }
    .Header{
        text-align: center;
        //font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        color: gold;
        letter-spacing: 0;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 
    }
    .vintage4{
        color: gold;
        letter-spacing: 0;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 }
    .Menu{
        font-size: 20px;
        background-color: ;
    }
    }
